body {
    background-color: #ffffff;
    font-family: 'Bebas Neue', cursive;
}

.headline {
    color: #000000;
    
}

.text {
    text-align: center;
}

.name {
    margin: 0;
    font-size: 10vw;
}

.vakonama {
    text-align: center;
    margin-top: -10vw;
    margin-bottom: -8vw;
    z-index: 10;
    opacity: 97%;
}

.poster {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 26vw;
    background-color: #ffffff;
    z-index: -1;
}

.eays {
    position: absolute;
    width: 100%;
    height: 26vw;
    object-fit: cover;
   
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 4vw;
}

/*.item {
    
}*/

.click-link {
    background-color: #ffffff;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    cursor: pointer;
    width: 15vw;
    height: 4vw;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.click-link:hover {
    border: 0.5px #000000;
}