body {
    background-color: #ffffff;
    font-family: 'Bebas Neue', cursive;
}

.headline {
    color: #000000;
    
}

.text {
    text-align: center;
}

.name {
    margin: 0;
    font-size: 10vw;
}

.vakonama {
    text-align: center;
    margin-top: -10vw;
    margin-bottom: -8vw;
    z-index: 10;
    opacity: 97%;
}

.category {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.4vw;
}

.block {
    flex-basis: 300px;
    flex-grow: 1;
    background-color: rgba(19, 19, 19, 0.845);
}

.album {
    width: 100%;
}

.name-category {
    text-align: center;
    margin: 0;
    font-size: 25px;
    color: #ffffffcf;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 4vw;
}

.click-link {
    background-color: #ffffff;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-size: 1.2em;
    cursor: pointer;
    width: 15vw;
    height: 4vw;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
}

.click-link:hover {
    border: 0.5px #000000;
}