body {
    background-color: #000000;
}

.headline {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.text {
    text-align: center;
    font-size: 3.8em;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8vw;
}

.item {
    flex-grow: 1;
    text-align: center;
}

.insta {
    background-color: #696969;
}

.telegram {
    background-color: #4e4e4e;
}

.pinterest {
    background-color: #343333;
}

.facebook {
    background-color: #1d1d1d;
}

.icon {
    min-height: 22vw;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vw;
    flex-wrap: wrap;
}

.click-link {
    background-color: #000000;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    width: 15vw;
    height: 4vw;
}

.click-link:hover {
    background-color: #1d1d1d;
}