body {
    background-color: #000000;
}

.headline {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.text {
    text-align: center;
    font-size: 3.8em;
}

.poster {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 22vw;
    background-color: #ffffff;
}

.eays {
    position: absolute;
    width: 100%;
    height: 22vw;
    object-fit: cover;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 4vw;
}

/*.item {
    
}*/

.click-link {
    background-color: #000000;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    width: 15vw;
    height: 4vw;
}

.click-link:hover {
    background-color: #1d1d1d;
}