body {
    background-color: #000000;
}

.headline {
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

.text {
    text-align: center;
    font-size: 3.8em;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.item {
    flex-basis: calc(100% / 4);
    flex-grow: 1;
}

.block {
    min-height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block.instagram {
    background-color: #707070;
}

.block.telegram {
    background-color: #464646;
}

.block.pinterest {
    background-color: #2a2a2a;
}

.block.facebook {
    background-color: #151515;
}

.insta, .tg, .pinter, .fb {
    min-width: 22vw;
}


.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4vw;
    flex-wrap: wrap;
}

.click-link {
    background-color: #000000;
    border: none;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    width: 15vw;
    height: 4vw;
}

.click-link:hover {
    background-color: #1d1d1d;
}